

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section style{
    <style type="text/css">
        .mvctool a, .mvctool input {
            float: left;
        }

        .mvctool .l-btn-text {
            background-position: 5%;
        }
    </style>
}
<div id="modalwindow" class="easyui-window" data-ng-options="modal:true,closed:true,minimizable:false,shadow:false"></div>

<div class="mvctool">
    <input id="txtQuery" type="text" class="searchText">
    <a id="btnQuery" class="l-btn l-btn-plain"><span class="l-btn-left"><span class="l-btn-text icon-search" style="padding-left: 20px;">查询</span></span></a><div class="datagrid-btn-separator"></div>
    <a id="btnCreate" class="l-btn l-btn-plain"><span class="l-btn-left"><span class="l-btn-text icon-add" style="padding-left: 20px;">新增</span></span></a><div class="datagrid-btn-separator"></div>
    <a id="btnEdit" class="l-btn l-btn-plain"><span class="l-btn-left"><span class="l-btn-text icon-edit" style="padding-left: 20px;">编辑</span></span></a><div class="datagrid-btn-separator"></div>
    <a id="btnDetails" class="l-btn l-btn-plain"><span class="l-btn-left"><span class="l-btn-text icon-details" style="padding-left: 20px;">详细</span></span></a><div class="datagrid-btn-separator"></div>
    <a id="btnDelete" class="l-btn l-btn-plain"><span class="l-btn-left"><span class="l-btn-text icon-remove" style="padding-left: 20px;">删除</span></span></a><div class="datagrid-btn-separator"></div>

</div>

<table id="list"></table>

@section scripts{
    @Scripts.Render("~/bundles/easyui.plus")
    <script>
        $(function () {
            $("#list").datagrid({
                url: '/SysSample/GetList',
                width: $(window).width() - 10,
                methord: 'post',
                height: $(window).height() - 35,
                fitColumns: true,
                sortName: 'ID',
                sortOrder: 'desc',
                idField: 'ID',
                striped: true, //奇偶行是否区分
                singleSelect: true,//单选模式
                rownumbers: true,//行号
                pagination: true,//启用分页
                pageNumber: 1,//初始化页数
                pageSize: 10,//初始化页面大小
                pageList: [5, 10, 15, 20, 25, 30], //初始化页面大小选择
                columns: [[
                    { field: 'ID', title: 'ID', width: 80 },
                    { field: 'Name', title: '名称', width: 120 },
                    { field: 'Age', title: '年龄', width: 80, align: 'right' },
                    { field: 'Bir', title: '生日', width: 80, align: 'right' },
                    { field: 'Photo', title: '照片', width: 200 },
                    { field: 'Note', title: '说明', width: 60, align: 'center' },
                    { field: 'CreateTime', title: '创建时间', width: 100, align: 'center' }
                ]]
            });
        });
    </script>
    <script>
        //生成唯一GUID
        function GetGuid() {
            var s4 = function () {
                return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
            };
            return s4() + s4() + s4() + "-" + s4();
        }

        //关闭iframe
        function frameReturnByClose() {
            $("#modalwindow").window('close');
        }

        function frameReturnByReload(flag) {
            if (flag)
                $("#list").datagrid('load');
            else
                $("#list").datagrid('reload');
        }

        //弹框提示
        function frameReturnByMes(mes) {
            $.messager.alert("提示", mes);
        }

        $(function () {
            //关闭window弹窗
            $("#modalwindow").window('close');
            //新增
            $("#btnCreate").click(function () {
                $("#modalwindow").html("<iframe width='100%' height='80%' scrolling='no' frameborder='0' src='SysSample/Create'></iframe>")
                    .window({ title: '新增', width: 700, height: 400, iconCls: 'icon-add' })
                    .window('open');
            });
            //编辑
            $("#btnEdit").click(function () {
                var row = $("#list").datagrid("getSelected");

                if (row != null) {
                    $("#modalwindow").html("<iframe width='100%' height='80%' scrolling='no' frameborder='0' src='SysSample/Edit?ID=" + row.ID + "&Ieguid=" + GetGuid() + "'></iframe>")
                    .window({ title: '编辑', width: 700, height: 430, iconCls: 'icon-edit' })
                    .window("open");
                }
                else {
                    $.messageBox5s('提示', '请选择要操作的记录');
                }
            });

            //详细信息
            $("#btnDetails").click(function () {
                var row = $("#list").datagrid("getSelected");
                if (row != null) {
                    $("#modalwindow").html("<iframe width='100%' height='80%' scrolling='no' frameborder='0' src='SysSample/Details?id=" + row.ID + "&Ieguid=" + GetGuid() + "'></iframe>")
                     .window({ title: '详细', width: 500, height: 300, iconCls: 'icon-details' })
                     .window("open");
                }
                else {
                    $.messageBox5s('提示', '请选择要操作的记录');
                }
            });


            //查询
            $("#btnQuery").click(function () {
                var query = $("#txtQuery").val();
                if (query == null || query == '') {
                    query = "%";
                }
                $("#list").datagrid({
                    url: '/SysSample/GetList?queryStr=' + encodeURI(query)
                });
            });

            //删除
            $("#btnDelete").click(function () {
                var row = $("#list").datagrid("getSelected");
                if (row != null) {
                    $.messager.confirm("提示", "确定删除", function (r) {
                        if (r) {
                            $.post("/SysSample/Delete?id=" + row.ID, function (data) {
                                if (data == 1) {
                                    $("#list").datagrid('reload');
                                }
                                $.messageBox5s('提示', data.message);
                            });
                        }
                    }, "json");
                }
                else {
                    $.messageBox5s('提示', '请选择要操作的记录');
                }
            });
        });
    </script>
}
